.page-item, .page-list{
    padding: 4px;
    border: 1px solid #80808047;
}

.page-item{
    padding: 5px 10px;
}

.pagination{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.pagination > li > a
{
    color: #1e3e95e7;
}

.pagination > li:hover
{
    color: #fff;
    background-color: rgba(114, 151, 231, 0.781);
}

.pagination > .active 
{
    background-color: #3f62c3e7 !Important;
}

.pagination > .active > a{
    color: #fff
}
